/* SuperNumberHeading.css */
.super-num-heading {
  display: inline-flex;
  align-items: baseline;
  gap: 0.4em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0.4em 0;
}

.super-num-heading-number {
  font-size: 2em;
  font-weight: 700;
}

.super-num-heading-content {
  font-size: 1.5em;
  font-weight: 700;
}
